include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include django_sso_app *.html *.png *.gif *js *.css *jpg *jpeg *svg *py

include requirements.txt
