{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}User: {{ user.username }}{% endblock head_title %}

{% block inner %}
{% if user.is_authenticated %}
    <h1>
    {{ user.username }}
    </h1>

    <form enctype="multipart/form-data" method="post" action="{% url 'profile.complete' %}">
      {% csrf_token %}
      {{ form.as_table }}
      <input type="submit">Submit</input>
    </form>
{% else %}
    <h1>
    {% blocktrans %}You are not logged in.{% endblocktrans %}
    </h1>

    <div>
        <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">
        {% trans "Login" %}
        </a>
        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">
        {% trans "Register" %}
        </a>
    </div>
{% endif %}
{% endblock inner %}
