{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans 'Profile'%} - {{ user.username }}{% endblock head_title %}

{% block inner %}
{% if user.is_authenticated %}
    {% if user.sso_app_profile.picture %}
        <img src="{{user.sso_app_profile.picture}}" alt="picture"/>
    {% endif %}
    <h1>{{ user.username }}</h1>

    <ul>
    {% for field in user_fields %}
      {% with field|first as field_name  %}
        {% if field_name != 'picture' %}
        <li><label>{{ field_name }}:</label> {{ field|last }}</li>
        {% endif %}
      {% endwith %}
    {% endfor %}
    </ul>
      <div>
          <a href="{% url 'profile.update' %}">{% trans "Update Profile" %}</a>
      </div>
    {% else %}
    <h1>
        {% blocktrans %}You are not logged in.{% endblocktrans %}
    </h1>

    <div>
        <a href="{% url 'account_login' %}" role="button">
          {% trans "Login" %}
        </a>

        <a href="{% url 'account_signup' %}" role="button">
          {% trans "Register" %}
        </a>
    </div>
{% endif %}

{% endblock inner %}
